.box {
    position: relative;
    width: 430px;
    height: 70px;
  }

  .grayBorder, .grayBorderEmail, .blueBorder {
    position: relative;
    width: 430px;
    height: 40px;
    margin: 5px 0;
    border-radius: 4px;
    border-color: #9d9d9d;
    border-style: solid;
    border-width: 2px;
    background-color: transparent;
    z-index: 1;
  }

  .grayBorder {
    border-color: #9d9d9d;
    z-index: 2;
  }

  .grayBorderEmail {
    border-color: #9d9d9d;
    z-index: 2;
  }

  .blueBorder {
    border-top: none;
    border-color: #125bee;
    top: -45px;
    z-index: 1;
  }

  .input {
    position: relative;
    width: 418px;
    height: 33px;
    margin: 5px 9px;
    border-style: dotted;
    border: none;
    background-color: transparent;
    outline: none;
    top: -2.5px;
    font-size: 16px;
    z-index: 3;
  }

  .placeholder {
    position: relative;
    left: 10px;
    top: -83px;
    font-size: 17px;
    color: gray;
    padding: 0 2px; 
    user-select: none;
    z-index: 0;
    transition: top 0.25s ease-in,
    font-size 0.25s ease-in;
  }

  .grayBorder:focus-within {
    border: none;
    background: 
     linear-gradient(#125bee , #125bee)top left/ 2% 1.5px,
     linear-gradient(#125bee , #125bee)top right/ 81% 1.5px;
     background-repeat: no-repeat;
  }

  .grayBorderEmail:focus-within {
    border: none;
    background: 
     linear-gradient(#125bee , #125bee)top left/ 2% 1.5px,
     linear-gradient(#125bee , #125bee)top right/ 73.5% 1.5px;
     background-repeat: no-repeat;
  }

  .grayBorder:focus-within~.placeholder {
    top: -100px;
    color: #125bee;
    font-size: 14px;
  }

  .grayBorderEmail:focus-within~.placeholder {
    top: -100px;
    color: #125bee;
    font-size: 14px;
  }
